<footer>
  <p>
    © 2021 Hari Rana / TheEvilSkeleton and <a href="https://gitlab.com/TheEvilSkeleton/theevilskeleton.gitlab.io/-/graphs/main" target="_blank" rel="noopener noreferrer">contributors</a>
  </p>
  <p>
    🄯 Website code released on <a href="https://gitlab.com/TheEvilSkeleton/theevilskeleton.gitlab.io" target="_blank" rel="noopener noreferrer">GitLab</a>, licensed under <a href="https://gitlab.com/TheEvilSkeleton/theevilskeleton.gitlab.io/-/blob/main/COPYING.md"  target="_blank" rel="noopener noreferrer">AGPL-3.0-only</a>
  </p>
  <p>
    Content of this website licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" target="_blank" rel="noopener noreferrer">CC-BY-SA-4.0</a>, unless otherwise noted
  </p>
  <p>
    Profile picture available in <a href="https://safebooru.org/index.php?page=post&amp;s=view&amp;id=3084434" target="_blank" rel="noopener noreferrer">Safebooru</a>, drawn by <a href="https://www.pixiv.net/en/users/2564613" target="_blank" rel="noopener noreferrer">Princess Hinghoi</a>
  </p>
  <p>
    Website powered by <a href="https://jekyllrb.com/" target="_blank" rel="noopener noreferrer">Jekyll</a>
  </p>
</footer>
