<!DOCTYPE html>
<html lang="en">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}
    <div id="body">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
    <div id="footer">
    {%- include footer.html -%}
    </div>
  </body>
</html>
